@import "card";
@import "btn";

.main-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: max-content max-content;
  gap: 1.6rem;
  padding: 1.6rem;
  align-content: center;
  font-size: 1.8rem;

  .left-side-box {
    grid-column: 1/-1;
    text-align: center;
    p {
      margin-bottom: 1.6rem;
    }
    .search__input {
      padding: 0.8rem;
      font-size: inherit;
      border: 2px solid #cccccc;
    }
    .btn--search {
      background-image: linear-gradient(
        to left,
        rgba($color-blue-1, 0.5),
        rgba($color-blue-2, 0.9)
      );
    }
    .btn--search:hover {
      transform: scale(1.05);
      background-image: linear-gradient(
        to left,
        rgba($color-blue-2, 0.9),
        rgba($color-blue-1, 0.5)
      );
    }
  }
  .right-side-box {
    display: none;
    grid-column: 1/-1;
  }
}

.side-content {
  display: grid;
  place-items: center;
  gap: 2.4rem;
  font-size: 1.9rem;
  padding: 1.4rem 1.6rem;

  p {
    padding: 0;
    text-align: center;
    font-size: inherit;
  }
}

.header {
  margin-top: 1.6rem;
  text-align: center;

  h1 {
    font-size: 4.4rem;
  }

  .nav__link {
    font-size: 2.4rem;
  }
  a {
    color: #888888;
    margin-right: 1.6rem;
    text-decoration: none;
  }
}

.portrait {
  width: 30rem;
  height: auto;
  display: block;
}

input {
  border: 2px solid #cccccc;
  padding: 0.8rem;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: 2px solid #888888;
  background-color: #888888;
  color: white;
  padding: 0.8rem;
  font-size: inherit;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 1.6rem;
  padding: 1.6rem 0;
  text-align: center;
}
