// COLORS VARIABLES
$color-test-1: #ffffff;
$color-test-2: #c6cdd4;
$color-primary-light: #cedeee;
$color-primary-dark: #1e3a5f;

$color-secondary-light: #a3d2ca;
$color-secondary-dark: #101d2c;

$color-white: #ffffff;
$color-black: #000000;

$color-black-1: #222222;
$color-black-2: #333333;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-blue-1: #1f236e;
$color-blue-2: #051a2e;

$color-purple-light: #b19cd9;
$color-purple-dark: #6e44ff;

$color-pink-light: #ffb3c6;
$color-pink-dark: #ff4d6d;

$color-green-light: #b7e4c7;
$color-green-dark: #2b7a0b;

$color-blue-light: #9ed0ff;
$color-blue-dark: #0047ab;

$color-orange-light: #ffd8b1;
$color-orange-dark: #ff7f11;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// BREAKPOINTS
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 43.75em; // 700px
$bp-smallest: 37.5em; // 600px
