<div class="card">
  <div class="card__header">
    <svg class="header__icon">
      <use xlink:href="/svg/sprite.svg#icon-sun"></use>
    </svg>
    <h3 class="card__title" id="message-1"></h3>
    {{! <span class="card__menu">...</span> }}
  </div>
  <div class="card__body">
    <p class="card__body-text" id="message-2">
    </p>
  </div>
  <div class="card__actions">
    <button class="btn btn-icon-btn btn--cloud-state">
      <svg class="btn-icon">
        <use xlink:href="/svg/sprite.svg#icon-sun"></use>
      </svg>
      Cloudy
    </button>
    <button class="btn btn-icon-btn btn--wind-state">
      <svg class="btn-icon">
        <use xlink:href="/svg/sprite.svg#icon-wind"></use>
      </svg>
      Windy
    </button>
  </div>
  <div class="card__footer">
    <span class="card__footer-date">Updated 1min ago</span>
  </div>
</div>