<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    
    <body>
        {{>header}}
        <div class="main-content">
            <div class="left-side-box">
            <p>Write the name of a place to get the weather information.</p>
            <form style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
                <input class="search__input" type="text" placeholder="Place name">
                <button class="btn btn--search">                 
                    <svg class="btn-icon">
                        <use xlink:href="/svg/sprite.svg#icon-cloud"></use>
                    </svg>
                    Search
                </button>
            </form>
            </div>
            <div class="cards-container right-side-box">
                {{>card}}
            </div>
        </div>
        {{>footer}}
    </body>

    <script src="/js/app.js"></script>
</html>